.title {
    color: #FFF;
    font-size: 4rem;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
}


.cart {
    position: absolute;
    right: 20px;
    font-size: 18px;
    font-family: initial;
    img {
        margin-right: 5px;
        cursor: pointer;
    }
}

.search {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    @media screen and (min-width: 768px) {
        width: 30%;
        margin: auto;
        margin-bottom: 15px;
    }
    input {
        width: 100%;
        padding: 10px;
        display: block;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        outline: none;
        &::placeholder {
            color: white;
        }
    }
    &:after {
        content: '';
        background: url('../../assets/img/search.svg') no-repeat;
        display: inline-block;
        color: white;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 12px;
        right: -15px;
    }
}